@model CartItem
@{
    ViewData["Title"] = "Product";
}
<div class="row skip-static-nav">
    <div class="col-md-5">
        <img class="img-fluid img-thumbnail" src="@Model.Product.ImageUrl" alt="product_@Model.Product.Title" />
    </div>
    <div class="col-md-7 pl-md-4">
        <h1>@Model.Product.Title</h1>
        <p class="mt-3">@Model.Product.ShortDescription</p>
        <p class="mt-3 text-center">
            <span class="display-4 p-5">@Model.Product.SalePrice.ToString("C")</span>
        </p>
        <form asp-controller="Cart" asp-action="AddToCart" method="get">
            <p class="text-center">
                <span>Qty: </span>
                <span>
                    <input type="hidden" asp-for="Product.ProductId" name="id" />
                    <input type="number" min="1" style="width: 45px;" asp-for="Quantity" name="qty" />
                </span>
            </p>
            <p class="mt-4 text-center">
                <span><a class="btn btn-outline-info">Add to wishlist</a></span>
                <span><button type="submit" class="btn btn-primary">Add to cart</button></span>
            </p>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col mt-5">
        <h4>Product Description</h4>
        <p>@Model.Product.Description</p>
    </div>
</div>


