@model IQueryable<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "_AdminLayout";
}

<h1 class="text-center">Available products</h1>
@if (Model.Where(p => p.BoughtFromAdmin == true).Count() != 0)
{
    <table class="table table-bordered mt-4">
        <tr>
            <th>Title</th>
            <th>Member</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Status</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        @foreach (var product in Model)
        {
            @if (product.BoughtFromAdmin == true)
            {
                <tr>

                    <td>@product.Title</td>
                    <td>@product.Member.Email</td>
                    <td>@product.Stock</td>
                    <td>@product.SalePrice.ToString("C")</td>
                    <td>@(product.IsLive ? "Published" : "Not published")</td>
                    <td>@product.Category</td>
                    <td>
                        <a asp-action="EditProduct" asp-route-id="@product.ProductId" title="Edit"><i class="fa fa-edit pl-3"></i></a>
                        <a asp-action="DeleteProduct" asp-route-id="@product.ProductId" class="confirm-delete-product" title="Delete"><i class="fa fa-trash pl-3"></i></a>
                    </td>
                </tr>

            }



        }
    </table>

}
else
{
    <h4>There are no products available at the moment</h4>

}

<h1 class="text-center mt-5">Buy suggestions</h1>
@if (Model.Where(p => p.BoughtFromAdmin == false).Count() != 0)
{
    <table class="table table-bordered mt-4">
        <tr>
            <th>Title</th>
            <th>Member</th>
            <th>Stock</th>
            <th>BuyPrice</th>
            <th>Category</th>
            <th>Buy</th>
        </tr>
        @foreach (var product in Model)
        {
            @if (product.BoughtFromAdmin == false)
            {
                <tr>

                    <td>@product.Title</td>
                    <td>@product.Member</td>
                    <td>@product.Stock</td>
                    <td>@product.BuyPrice.ToString("C")</td>
                    <td>@product.Category</td>
                    <td>
                        <a asp-action="BuyFromMember" asp-route-id="@product.ProductId" class="confirm-buy" title="Buy"><i class="fa fa-money pl-3"></i></a>
                    </td>
                </tr>

            }



        }
    </table>

}
else
{
    <h4>There are no products offered from Members right now.</h4>

}

<div id="confirmDialog" title="Delete Product">
    <p>Are you sure you want to delete this product? </p>
</div>

<div id="confirmDialog2" title="Buy">
    <p>Are you sure you want to buy this product? </p>
</div>

@section Scripts
    {
    <script>
        //PRODUCT DELETE CONFIRMATION
        $(function () {
            $('.confirm-delete-product').click(function (e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $('#confirmDialog').data('href', href).dialog('open');
            });

            $('#confirmDialog').dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                buttons: {
                    "Delete": function () {
                        var href = $(this).data("href");
                        window.location.href = href;
                    },
                    "Cancel": function (e) {
                        $(this).dialog('close');
                    }
                },
            });

            
        });

        //PRODUCT BUY CONFIRMATION
        $(function () {
            $('.confirm-buy').click(function (e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $('#confirmDialog2').data('href', href).dialog('open');
            });

            $('#confirmDialog2').dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                buttons: {
                    "Buy": function () {
                        var href = $(this).data("href");
                        window.location.href = href;
                    },
                    "Cancel": function (e) {
                        $(this).dialog('close');
                    }
                },
            });
        });
    </script>
}
