@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "_MemberLayout";
}
<h1 class="text-center">@User.Identity.Name</h1>
@if (Model != null)
{
    <table class="table table-bordered mt-4">
        <tr>
            <th>Title</th>
            <th>Wholesale Price</th>
            <th>Retail Price</th>
            <th>Category</th>
            <th>Status</th>
            <th>Initial Offer</th>
            <th>Sold Items</th>
            <th>Payment on sale</th>
            <th>Commission</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.BuyPrice.ToString("C")</td>
                <td>@product.SalePrice.ToString("C")</td>
                <td>@product.Category</td>
                <td>@(product.IsLive ? "Sold" : "Offered")</td>
                <td>@product.StockInitOffer</td>
                <td>@(product.StockInitOffer - product.Stock)</td>

                <td>@((product.BoughtFromAdmin ? product.BuyPrice * product.StockInitOffer : 0).ToString("C"))</td>
                <td>@(((product.StockInitOffer - product.Stock) * (product.BuyPrice * 1.5m / 3)).ToString("C"))</td>

            </tr>
        }
    </table>
}
else
{
    <h4>There are no products available at the moment</h4>

}
<a class="btn btn-sm btn-outline-success" asp-action="CreateProduct">Add new</a>



