@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "_MemberLayout";
}
<a class="btn-link" asp-action="CreateProduct">Add new</a>
@if (Model != null)
{
    <table class="table table-bordered mt-4">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th>Status</th>
            <th>Initial Offer</th>
            <th>Current Stock</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.SalePrice.ToString("C")</td>
                <td>@product.Category</td>
                <td>@(product.IsLive ? "Sold" : "Offered")</td>
                <td>@product.StockInitOffer</td>
                <td>@product.Stock</td>
            </tr>
        }
    </table>
}
else
{
    <h4>There are no products available at the moment</h4>

}



